@{
    ViewBag.Title = "Post";
}

<h2>Post notification</h2>
<p>The notification was added to the service, it will display when you refresh the <a href="@Url.Action("Index", "Home")">home page</a>.</p>
